body {
  margin: 0 0 0 0;
}

.container {
  margin: 2px 0 0 0;
}

#gameDisplayContainer {
  background-image: url('./background.jpg');
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 50px;
}

#hideGameContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
}

#runButton {
  background-color: green;
  height: 35px;
  border-radius: 25px;
  position: relative;
  bottom: -2vh;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

#showGameContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: green;
  height: 35px;
  border-radius: 25px;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

#backIcon {
  position: relative;
  z-index: 100;
}

.popUpContainer {
  position: absolute;
  top: 10vh;
  left: 0px;
  right: 0px;
  z-index: 100;
  background: white;
  width: 60vw;
  height: 80vh;
  box-shadow: 10px 10px 20px;
  border-radius: 20px;
  border: solid black;
}
.slide-container {
  height: 100%;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#successDialog {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#failDialog {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}