<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Học lập trình</title>
<!--Library-->
<script src="../lib/acorn_interpreter.js"></script>
<script src="../lib/blockly/blockly_compressed.js"></script>
<script src="../lib/blockly/blocks_compressed.js"></script>
<script src="../lib/blockly/javascript_compressed.js"></script>
<script src="../lib/blockly/msg/js/vi.js"></script>
<script src="../lib/phaser.min.js"></script>
<script src="../lib/jquery/jquery-3.4.1.min.js"></script> <!--Change to jquery 1.9.1 if there is error-->
<!--Module-->
<script src="../wait_block.js"></script>
<script src="../blocks/blocks.js"></script>
<script src="../blocks/block_api.js"></script>
<script src="../blocks/block_action.js"></script>
<script src="../blocks/block_stub.js"></script>
<script src="../lib/swiper/js/swiper.min.js"></script>
<script src="../lib/nativeDroid2/vendor/wow/wow.min.js"></script>
<!--Style-->
<link rel="stylesheet" href="../lib/nativeDroid2/vendor/wow/animate.css" />
<link rel="stylesheet" href="../lib/swiper/css/swiper.min.css" />
<link rel="stylesheet" href="coding_page_style.css" />
<link rel="stylesheet" href="../lib/material.css" />
<script src="../lib/material.js"></script>
<link rel="stylesheet" href="../lib/jquery/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="../lib/nativeDroid2/vendor/waves/waves.min.css" />
<link rel="stylesheet" href="../lib/nativeDroid2/vendor/wow/animate.css" />
<link rel="stylesheet" href="../lib/nativeDroid2/css/nativedroid2.css" />
