<head>
    <meta charset="utf-8" />
    <title>Học lập trình</title>
    <!--Library-->
    <script src="../../lib/acorn_interpreter.js"></script>
    <script src="../../lib/blockly/blockly_compressed.js"></script>
    <script src="../../lib/blockly/blocks_compressed.js"></script>
    <script src="../../lib/blockly/javascript_compressed.js"></script>
    <script src="../../lib/blockly/msg/js/vi.js"></script>
    <script src="../../lib/phaser.min.js"></script>
    <!--Module-->
    <script src="../../wait_block.js"></script>
    <script src="../../blocks/blocks.js"></script>
    <script src="../../blocks/block_api.js"></script>
    <script src="../../blocks/block_action.js"></script>
    <script src="../../blocks/block_stub.js"></script>
    <!--Style-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  </head>