body { 
    text-align: center;
}

select {
    min-width: 200px;
}

input { 
/*    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
*/    width: 100%;
}

.rangeDiv {
    margin-top: 40px;
    margin-bottom: 40px;    
}

#previewColor {
    background-color: #000000;
    width: 100%;
    height: 100px
}

#output {
    font-size: 4em;
}

.bluetooth_option {
    background: white;
    margin: 10px 0 10px 0;
    width: 80%;
}