* {
    text-align: center;
}

#header {
    background: white;
    color: black;
}
.statusCard {
    width: 90%;
    height: 80px;
    border-radius: 10px;
    color: white
}
.titleText h2 {
    text-align: left;
    margin: 60px 0 0 3%;
}
.titleText h3 {
    text-align: left;
    margin: 20px 0 10px 3%;
}
.swiper-container {
    width: 95%;
    height: auto;
}
.swiper-pagination {
    position: relative;
    width: 100%;
    margin: 0px auto 10px auto;
}
.swiper-pagination-bullet {
    margin: 3px;
}
/* add  icon for btn as a fallback*/
.ui-icon-blueTooth:after {
    background-image: url("../assets/icons/robot_icon.svg");
    background-size: 20px 20px;
    border: 0;
}
.ui-icon-instruction:after {
    background-image: url("../assets/icons/instructions.svg");
    background-size: 20px 20px;
    border: 0;
}
.ui-icon-code:after {
    background-image: url("../assets/icons/code_icon.svg");
    background-size: 20px 20px;
    border: 0;
}